<div class="new-painting">
  <h2>New painting</h2>
  <%= simple_form_for (@painting) do |f| %>
    <%= f.input :author %>
    <div class="painting-size-price">
      <div class="painting-size">
        <%= f.input :size %>
      </div>
      <div class="painting-price">
        <%= f.input :price %>
      </div>
    </div>
    <div class="painting-foto">
      <%= f.input :photo, as: :file %>
    </div>
    <%= f.submit "Create", class: "btn btn-dark-create" %>
  <% end  %>
</div>
<%= link_to 'Back to index', paintings_path, class: "btn btn-dark-new" %>
