<div class="container-show">
  <div class="show-picture">
    <%= cl_image_tag @painting.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="show-info">
    <div class="show-picture">
      <%= image_tag "avatar.jpeg", alt: "Face", width: 200, class: "show-avatar" %>
    </div>
    <div class="painting-info">
      <p><%= @painting.user.first_name %><%= " is the owner of this painting" %></p>
      <p><%= "Name author:  " %><%= @painting.author %></p>
      <p><%= "Size:  " %><%= @painting.size %></p>
      <p><%= "€: " %><%= @painting.price %></p>
    </div>
    <div class="show-link">
      <%= link_to 'Rent this painting', new_painting_booking_path(@painting), class: "btn btn-dark-show" %>
    </div>
  </div>
</div>
<%= link_to 'Back', paintings_path, class: "btn btn-dark-show" %>
