<div class="title">
  <h2>Bookings Index</h2>
</div>
<div class="container">
  <div class="painting">
    <div class="show-picture">
      <%= cl_image_tag @painting.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="info">
      <p><%= "Name author:  " %><%= @painting.author %></p>
      <p><%= "Size:  " %><%= @painting.size %></p>
    </div>
  </div>
  <div class="booking-info">
    <% @bookings.each do |booking| %>
    <div>
      <ul>
        <li><%= "Rented by: " %><%= booking.user.first_name %> <br>
        <%= "From: " %><%= booking.start_date %> <br>
        <%= "Until: " %><%= booking.end_date %></li>
      </ul>
    </div>
    <% end %>
    <%= link_to 'Back to paintings', paintings_path, class: "btn btn-dark-show" %>
  </div>
</div>
