
<div class="containter">
  <div class="confirmation">
    <h2>Congratulation!</h2>
    <p></p>
    <ul>
      <li><%= "Rental starts: " %><%= @booking.start_date %></li>
      <li><%= "Rental ends: " %><%= @booking.end_date %></li>
    </ul>
  </div>
</div>
<%= link_to 'Back to paintings', paintings_path, class: "btn btn-dark" %>
