<div class="title-show">
  <h2>Rental Confirmation</h2>
</div>
<div class="confirm-containter">
  <div class="painting-display">
    <div class="show-picture">
      <%= cl_image_tag @painting.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="painting-info">
      <p><%= @painting.author %></p>
      <p><%= @painting.size %></p>
    </div>
  </div>
  <div class="user-display">
    <div class="user-info">
      <h4><%= "Congratulation " %><%= @booking.user.first_name %><%= "!" %></h4>
      <p><%= " You've successfully rented this painting!" %></p>
      <ul>
        <li><%= "Rental starts: " %><%= @booking.start_date %></li>
        <li><%= "Rental ends: " %><%= @booking.end_date %></li>
      </ul>
    </div>
    <div class="btn-div">
      <%= link_to 'Back to paintings', paintings_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>
