<div class="banner">
  <div class="banner-objects">
    <h1 id="banner-slogan">All the art available for you right now</h1>
    <form action="/paintings">
      <div class="banner-search">
        <input id="search-bar" type="text" placeholder="What are you looking for ?" name="query">
        <button id="search-submit-btn" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </form>
  </div>
</div>
<h1 id="header"><%=Painting.count%> paintings for rent</h1>



<div class="container-cards">
  <div class="container">
   <% @paintings.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |painting| %>
        <div id="painting-card" class="col-4">
            <div class="img-section">
              <%= link_to (cl_image_tag painting.photo.key, height: 150, width: 200, crop: :fill), painting_path(painting) %>
            </div>
            <div class="card-text">
              <h2><%= link_to painting.author, painting_path(painting) %></h2>
              <h3><%= painting.size %></h3>
              <h4><%= painting.price %>$ a day</h4>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
</div>
