<div class="container-user">
  <div class="user">
    <div class="user-header">
      <h1>Profile page</h1>
    </div>
    <div class="user-picture">
      <%= image_tag "avatar.jpeg", alt: "Face", width: 200, class: "show-avatar" %>
    </div>
    <div class="user-name">
      <h4>Name</h4>
      <%= current_user.first_name %>
      <%= current_user.last_name %>
    </div>
    <div class="user-email">
      <h4>Email</h4>
      <%= current_user.email %></p>
    </div>
  </div>
  <div class="profile">
    <div class="profile-booking">
      <div class="booking-header">
        <h4>Bookings</h4>
        <%= render 'paintings/carousel', id: "booked-carousel", paintings: current_user.booked_paintings %>
      </div>
    <div class="profile-painting">
      <div class="booking-header">
        <h4>My paintings</h4>
        <%= render 'paintings/carousel', id: "my-paintings-carousel", paintings: current_user.paintings %>
      </div>
    </div>
  </div>
</div>
