<!DOCTYPE html>
<html>
  <head>
    <title>RentAPainting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

  <div class="navbar">
    <h3>RENT A PAINTING</h3>
      <div class="buttons">
      <% if !user_signed_in? %>
        <%= link_to "Log in", new_user_session_path, class:"btn btn-dark"%>
        <%= link_to "Sign up", new_user_registration_path, class:"btn btn-light"%>

      <% else %>
        <%= link_to "Log out", destroy_user_session_path, class:"btn btn-dark", method: :delete%>
      <% end %>
      </div>
  </div>

    <%= yield %>

    <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/RKlauwer"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/cesarbngd/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/maryan.berhe"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This footer has been made with <i class="fas fa-heart"></i> by Maryan Raymond, & César
  </div>
</div>
  </body>
</html>
